@media (min-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

#dir-tech-spec {
	width: 100%;
	border: none;
}

#tabbar ul li a {
    outline: none;
}

li.tab-active a {
	font-weight: bold;
}

div.tab-hidden {
	display: none;
}

div.tab-active {
	display: block;
}

tr.striped {
    background-color: #f9f9f9;
}

td.checkall, th.checkall {
    width: 30px;
}

th.part {
    width: 40%;
}

span.selected-download {
    color: #cbcbcb;
    font-size: 16px;
    margin-right: 10px;
}
span.selected-download.enabled {
    color: #adadad;
}

.btn-download {
    color: #ffffff;
    font-size: 16px;
    min-width: 185px;
    height: 40px;
    background: #cbcbcb url('../img/download_arrow.png') 6px 3px no-repeat;
    text-align: right;
}

.btn-download.enabled {
    background-color: #80aa18;
}
